.food_item{
    box-shadow: 0px 0px 0px 0px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.food-item-image{
border-radius: 15px 15px 0px 0px;
}
.food-item-info{
    padding: 20px;
}
.food-item-price{
    color: tomato;
    font-size: 22px;
}
.food-item-image-container{
    position: relative;
}
.itemcouter{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 15px;
    right: 15px;
    gap: 20px;
    padding: 6px;



}
.food-item-image-container .add{
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    cursor: pointer;
}