.place-order-left input{
    border: 1px solid #c5c5c5;
    outline-color: tomato;
margin-bottom: 15px;
padding: 10px;
width: 100%;
border-radius: 4px;
}
.totals-details{
    display: flex;
  justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.place-order-right hr{
    margin: 10px 0px;
}
.place-order-right  button{
    background-color: tomato;
    color: white;
    width: max(15vw,200px);
    border: none;
}